<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Math of Benzenoids</title>
<link rel="stylesheet" type="text/css" media="screen" href="../static/css/veryfirststyle.css?123456789"/>
<link rel="shortcut icon" type="image/x-icon" href="/static/images/4536snake_logo.ico">
</head>
<body>

<div id="wrapper">

	<div id="header">
		<div id="logo">
			
<a href="http://127.0.0.1:5000/mob" id="linkout" title="Home"><img src="/static/images/logo.png" alt="logo" style="width:140px;float: left;margin-top: 22px"></a>
<h1 style="float: right;"><a href="http://127.0.0.1:5000/mob"><p style="color:#db591a">Math of Benzenoids</p></a></h1>
		</div> 
		<!-- end #logo -->

		<div id="menu">
			<ul>
				<li><a href="http://127.0.0.1:5000/mob" id="linkout" title="Home">Home</a></li>
			   	<li class="active"><a href="http://127.0.0.1:5000/mob/help" id="linkout" title="Help">Help</a></li>
			   	<li><a href="http://127.0.0.1:5000/mob/contact" id="linkout" title="Contact">Contact</a></li>
			   	<li><a href="http://127.0.0.1:5000/mob/about" id="linkout" title="About">About</a></li>
			</ul>
		</div>
		<!-- end #menu -->
	</div>
	<!-- end #header -->
	<div id="page">
		<div class="post">
			<h2>MOB help pages</h2>
			TODO: insert information, TODO: 
			<br>
			<h3>Boundary Edges Code</h3>
			<p>
			The boundary edges code (bec) completely describes benzenoids that do not contain "holes" in their structure. According to convention start at the lower left-most hexagon and count its outer edges. Proceed counterclockwise for each hexagon until the start hexagon is reached again. Check out the following example:
			</p>
			<p class="center">
			<img src="/static/images/bec.png" style="width:350px" >
			<br>
			The resulting bec is "512135115123".
			</p>

			<h3>List of Hexagons</h3>
			<p>
			In this numerical representation of a benzenoid we consider an underlying grid. Here, we need two coordinates for each hexagon: the first coordinate maps the row number starting from bottom to top; the second coordinate numbers diagonals from bottom left to top right starting from the left side. Check out this example:
			</p>
			<p class="center">
			TODO
			</p>
		</div>
		<!-- end #content -->
	</div>
	<!-- end #page -->
	<div style="clear:both; margin:0;"></div>
</div> 
<!-- end wrapper -->
</body>
</html>



